@font-face {
  font-family: "iconfont"; /* Project id 2602627 */
  src: url('iconfont.woff2?t=1623221020009') format('woff2'),
       url('iconfont.woff?t=1623221020009') format('woff'),
       url('iconfont.ttf?t=1623221020009') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankaishousuo:before {
  content: "\e6cb";
}

.icon-shouji:before {
  content: "\e626";
}

.icon-caozuo-quanping-shousuo:before {
  content: "\e73a";
}

.icon-gaishuai:before {
  content: "\e609";
}

.icon-zhankai:before {
  content: "\e734";
}

.icon-bumanyi:before {
  content: "\e605";
}

.icon-shouji1:before {
  content: "\e6b2";
}

.icon-shangsheng:before {
  content: "\e64e";
}

.icon-xiajiang:before {
  content: "\e64f";
}

