@import "https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote {padding: 0; margin: 0; box-sizing: border-box} 
			input:focus,select:focus,textarea:focus,button:focus,position:focus,a:focus {outline: none} 
			h1,h2,h3,h4,h5,h6,h7 {font-weight: normal}
			ul,li,i,em {list-style-type: none; font-style: normal}
			img {border: 0px; padding: 0; margin: 0}
			
			html,body {height: 100%; position: relative}
			body {
	font-size: 14px;
	color: #666;
	font-family: "Verdana","Tahoma","Microsoft Yahei";
	transition: all .3s;
	background-color: rgba(35,35,35,1.00);
}
			a {font-size: 14px; color: #666; text-decoration: none; cursor: pointer; transition: all .3s}
			a:visited , a:active {color: #666; transition: all .3s}
			a:hover {color: #cb1a10; transition: all .3s}
			
			iphone {width: 380px; height: 700px; border-radius: 55px; background: #303030; padding: 7px; display: table; color: #333;
				box-sizing: border-box; box-shadow: 0px 0px 0px 5px rgba(80,80,80,.8) inset; margin: 0px auto; cursor: default; position: relative}
			iphone .skin {width: 100%; height: 100%; border: 1px solid #000; border-radius: 50px; background: #222; padding: 15px; box-shadow: 0px 0px 0px 7px rgba(68,68,68,.3)}
			iphone .screen {width: 100%; height: 100%; border-radius: 30px; background: #fff; position: relative; overflow: hidden}
			iphone .head {width: 100%; height: 90px; text-align: center; position: absolute; padding: 45px 15px 10px 15px; border-bottom: 10px solid #f5f5f5}
			iphone .head span {font-size: 16px; font-weight: bold}
			iphone .peak {width: 56.28%; height: 27px; margin: 0px auto; border-radius: 0 0 20px 20px; background: #222; position: relative}
			iphone .piece-l,iphone .piece-r {width: 10px; height: 10px; background: #222; position: absolute}
			iphone .piece-l {left: -10px}
			iphone .piece-r {right: -10px}
			iphone .circular-l,iphone .circular-r {width: 10px; height: 10px; background: #fff; position: absolute}
			iphone .circular-l {border-radius: 0 5px 0 0}
			iphone .circular-r {border-radius: 5px 0 0 0}
			iphone .sound {width: 48px; height: 6px; border-radius: 15px; background: #555; position: absolute; left: 50%; top: 50%; margin-left: -24px; margin-top: -10px;
				box-shadow: 0px 4px 4px 0px #444 inset}
			iphone .lens {width: 6px; height: 6px; border-radius: 50%; background: #2c5487; position: absolute; left: 50%; top: 50%; margin-left: 34px; margin-top: -10px}
			iphone .talk {width: 50%; height: 6px; border-radius: 15px; background: rgba(0,0,0,.3); position: absolute; bottom: 8px; left: 50%; margin-left: -25%}
			iphone .area-l,iphone .area-r {width: 70px; height: 16px; position: absolute; top: 6px}
			iphone .area-l {left: 0; text-align: center; font-size: 12px; line-height: 22px; text-indent: 10px; font-family: "Verdana"; font-weight: 600}
			iphone .area-r {right: 0}
			iphone .signal {float: left; width: 16px; height: 9px; margin-top: 7px; margin-right: 6px; margin-left: 4px}
			iphone .signal span {float: left; width: 2px; margin-left: 2px; border-radius: 2px; background: #111; display: block}
			iphone .signal span:first-child {margin-left: 0}
			iphone .signal .ico01 {height: 3px; margin-top: 6px}
			iphone .signal .ico02 {height: 5px; margin-top: 4px}
			iphone .signal .ico03 {height: 7px; margin-top: 2px}
			iphone .signal .ico04 {height: 9px}
			iphone .fa-feed {float: left; font-size: 12px!important; transform:rotate(-45deg); margin-top: 4px; margin-right: 8px}
			iphone .fa-battery-full {float: left; font-size: 12px!important; margin-top: 6px}
			iphone .fa-chevron-left {float: left; margin-top: 4px}
			iphone .fa-cog {float: right; margin-top: 4px}
			iphone .btn01 {width: 3px; height: 28px; border-radius: 3px 0 0 3px; background: #222; position: absolute; top: 105px; left: -3px}
			iphone .btn02 {width: 3px; height: 54px; border-radius: 3px 0 0 3px; background: #222; position: absolute; top: 160px; left: -3px}
			iphone .btn03 {width: 3px; height: 54px; border-radius: 3px 0 0 3px; background: #222; position: absolute; top: 230px; left: -3px}
			iphone .btn04 {width: 3px; height: 86px; border-radius: 0 3px 3px 0; background: #222; position: absolute; top: 180px; right: -3px}
			
			iphone {
				zoom: 0.8;
			}
			/* body {
				overflow: hidden;
			} */
			.animated{animation-duration:0.5s;animation-fill-mode:both}
			@keyframes l{0%{opacity:0}to{opacity:1}}			
			@keyframes o{0%{opacity:0;transform:translate3d(-50px,0,0)}
				to{opacity:1;transform:none}}.fadeInLeft2{animation-name:o}			
			@keyframes q{0%{opacity:0;transform:translate3d(50px,0,0)}
				to{opacity:1;transform:none}}.fadeInRight2{animation-name:q}
			@keyframes s{0%{opacity:0;transform:translate3d(0,50px,0)}
				to{opacity:1;transform:none}}.fadeInUp2{animation-name:s}
			@keyframes m{0%{opacity:0;transform:translate3d(0,-50px,0)}
				to{opacity:1;transform:none}}.fadeInDown2{animation-name:m}			